<table class="table table-borderless custom-table">
<thead>
  <tr>
    <td colspan="7">
      <div class="gas-icon">
        <img src="../../../assets/gas-station-svgrepo-com (1).svg" width="40" height="40" title="pms" alt="pms">
        <span class="text">
            <span>STATION NAME</span>
            <span style="display: block;">DUMMY</span>
      </span>
      </div>
  </td>
    </tr>
</thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td class="mid-font">Total Sales</td>
      <td class="little-font">62,721 m<sup>3</sup></td>
      <td class="mid-font">Compression State</td>
      <td class="little-font">Compression</td>
      <td class="mid-font">Max Transaction / hour</td>
      <td class="little-font">20</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td class="mid-font">Total Value</td>
      <td class="little-font">550 EGP</td>
      <td class="mid-font">Total Transaction Count</td>
      <td class="little-font">5161</td>
      <td class="mid-font">Max Transaction Date-Time</td>
      <td class="little-font">8-1-2021 |10:16 PM</td>
    </tr>
  </tbody>
</table>
