<div class="cards">
  <div class="card" style="background: #F4DBD4;">
    <div class="card-body">
      <h5 class="card-title">71,028 <span>EGP</span></h5>
      <h6 class="card-subtitle mb-2 text-muted">Total Value</h6>
      <p class="card-text" style="color: #FF7F5C;">2%</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">20,000 <span>m<sup>3</sup> </span></h5>
      <h6 class="card-subtitle mb-2 text-muted">Total Sales</h6>
      <p class="card-text" style="color: #FF7F5C;">50 m<sup>3</sup></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">20,000 <span>m<sup>3</sup> </span></h5>
      <h6 class="card-subtitle mb-2 text-muted">Avg Sales</h6>
      <p class="card-text" style="color: #FF7F5C;">50 m<sup>3</sup></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">1567</h5>
      <h6 class="card-subtitle mb-2 text-muted">  Total Transaction Count</h6>
      <p class="card-text" style="color: #FF7F5C;">50 m<sup>3</sup></p>
    </div>
  </div>
</div>
