<header class="header">
  <div class="content-container">
    <div class="row">
      <div class="col-1">
        <div class="gas-icon">
          <img src="../../../assets/gas-station-svgrepo-com.svg" width="30" height="30" title="gas-station"
            alt="gas-station" />
          <span class="number">2/3</span>
          <span class="text">
            <span class="word">Monitored</span>
            <span class="word">Stations</span>
          </span>
        </div>
      </div>
      <div class="col-1">
        <div class="loading">
          <img src="../../../assets/loading.PNG" width="32" height="32" title="loading" alt="loading" />
          <span class="number">20S</span>
          <span class="text">
            <span class="word">Last</span>
            <span class="word">Update</span>
          </span>
        </div>
      </div>
      <div class="col-5">
        <div class="btn-group" role="group">
          <button type="button" class="btn" [ngClass]="{ active: todayActive }" (click)="toggleActive('today')">
            TODAY
          </button>
          <button type="button" class="btn" [ngClass]="{ active: yesterdayActive }" (click)="toggleActive('yesterday')">
            YESTERDAY
          </button>
          <button type="button" class="btn" [ngClass]="{ active: lastWeekActive }" (click)="toggleActive('lastWeek')">
            LAST WEEK
          </button>
        </div>
      </div>

      <div class="col-5">
        <div class="date">
          
          <input type="datetime-local" placeholder="Start date-time" class="inp-date" />
          <input type="datetime-local" placeholder="End date-time" class="inp-date" />
        </div>
      </div>

    </div>
  </div>
</header>
