<header>
  <div class="content">
    <div class="gas-icon">
      <img src="../../../assets/gas-station-svgrepo-com.svg" width="32" height="32" title="dashboard" alt="dashboard">
      <span class="number">2/3</span>
      <span class="text">
        <span class="word">Monitored</span>
        <span class="word">Stations</span>
      </span>
      <img src="../../../assets/gas-station-svgrepo-com.svg" width="32" height="32" title="dashboard" alt="dashboard">
      <span class="number">20S</span>
      <span class="text">
        <span class="word">Last</span>
        <span class="word">Update</span>
      </span>
    </div>
  </div>
</header>
