header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Align items horizontally */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #ffffff;
}

.gas-icon{
/* Layout Properties */
position: relative;
display: flex;
flex-direction: row;
align-items: center;
left: 150px;
opacity: 0.8;
}


/* Style the red circle below the image */
.gas-icon::before {
  content: "";
  display: block;
  width: 7px; /* Adjust the size as needed */
  height: 7px; /* Adjust the size as needed */
  background-color: #FF7F5C; /* Your desired color */
  border-radius: 50%; /* Makes it a circle */
  margin-top: 24px; /* Adjust the spacing below the image */
  margin-right: 10px;
}
.gas-icon .number{
  margin: 15px;
  color: #3D5161;
  font-weight: 500;
  font-size: 25px;
  opacity: 0.9;
}
.text{
  color: #3D5161;
  font-size: 9px;
  font-weight: 700;
  display: inline-block;
  white-space: nowrap;
}
.loading{
  display: inline-flex;
}
.word {
  display: block;
}
