.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 90px;
  background: #ffffff;
  padding: 0 30px; /* Add padding for spacing on the sides */
}
.content-container {
  margin-left: 100px; /* Add a 50px left margin */
  padding: 20px; /* Optionally, add padding for content */
}

.gas-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative; /* Add relative positioning */
}

/* Style the red circle below the gas icon */
.gas-icon::before,.loading::before {
  content: "";
  width: 7px;
  height: 7px;
  background-color: #FF7F5C;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute; /* Position it relative to the gas icon */
  left: -17px; /* Adjust the position as needed */
  top: 81%; /* Vertically center it */
  transform: translateY(-50%); /* Vertically center it */
}

.number {
  color: #3D5161;
  font-weight: 500;
  font-size: 22px;
  opacity: 0.9;
}

.text {
  color: #3D5161;
  font-size: 8px;
  font-weight: 700;
  margin-left: 5px;
  white-space: nowrap;
}

.loading {
  display: flex;
  align-items: center;
  position: relative; /* Add relative positioning */
  margin-left: 30px;
}


.word {
  display: block;
}

.btn-group {
  display: flex;
  align-items: center;
  float: right;
  width: 80%;
  background-color: #F9F5F3;
  border-radius: 50px;
}

.btn {
  color: #3D5161;
  font-size: 13px;
  border: none;
  cursor: pointer;
}
.btn.active {
  background-color: #FF7F5C;
  color: #ffffff;
  border-radius: 50px;
}
.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn.dropdown-toggle-split:first-child,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn:last-child:not(.dropdown-toggle) {

  border-radius: 50px;
}
.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  width: 80%;
}
.example-form-field {
  margin-right: 20px;
  height: 65px;

}
/* Change the background color of mdc-text-field--filled to white */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;

}

.custom-icon{
  color: #FF7F5C;
  right: 10px !important;
  position: relative;
  bottom: 4px !important;
}
.square-icon{
  color: #FF7F5C;
  right: 5px !important;
  position: relative;
  bottom: 4px !important;
}
