<nav>
  <div class="pms">
    <img src="../../../assets/PMS.svg" width="40" height="40" title="pms" alt="pms">
  </div>
  <div class="control-room">
    <img src="../../../assets/control-room.svg" width="30" height="30" title="control-room" alt="control-room">
  </div>
  <div class="dashboard">
    <img src="../../../assets/dashboard.svg" width="20" height="20" title="dashboard" alt="dashboard">
  </div>
  <div class="elements">
    <img src="../../../assets/elements.svg" width="20" height="20" title="elements" alt="elements">
  </div>
  <div class="setting">
    <img src="../../../assets/settings.svg" width="30" height="30" title="setting" alt="setting-gis">
  </div>
  <div class="notifications">
    <img src="../../../assets/notifications.svg" width="30" height="30" title="notifications" alt="notifications">
  </div>
  <div class="logout">
    <img src="../../../assets/logout.svg" width="30" height="30" title="logout" alt="logout">
  </div>
</nav>
