<div class="w-full bg-white rounded-t-lg shadow-sm" [dir]="directionService.currentDirection()">
    <!-- Header Section -->
    <div class="h-[42px] flex justify-between rounded-t-[8px] py-[9px] px-[16px] border-b border-[#E4E4E4]">
        <div class="h-[24px] flex items-center">
                        <div class="w-[22px] h-[22px] rounded-[4px] bg-[rgba(62,151,255,0.1)] relative ">
                <span class="absolute flex items-center justify-center inset-0 text-[#3E97FF]">#</span>
            </div>

            <p class="h-[21px] mx-[8px] font-neo-sans font-[500] text-[14px] leading-[150%] tracking-[0%] text-right text-[#1C1C28]">{{ 'SHOW_NUMBER' | translate }}</p>
             <button cursor-pointer
                (click)="toggleDirection()" class="px-2 py-1 mr-2 bg-[#3E97FF] hover:bg-[#3178c6] text-white rounded-md text-sm cursor-pointer">
                {{ directionService.currentDirection() === 'rtl' ? 'En' : 'Ar' }}
            </button>
        </div>
        <div class="w-[20px] h-[20px] rounded-[5.47px] bg-[#F4F4F4] relative">
            <button class="absolute inset-0 flex items-center justify-center cursor-pointer">
                <span class="text-[#1C1C28] hover:text-[#FF4B55] text-lg">×</span>
            </button>
        </div>
    </div>
</div>
<app-header [items]="infoItems" [phone]="phoneNumber"></app-header>
<app-table [tableData]="allRecords" [totalItems]="allRecords.length" [headers]="headers"></app-table>
<app-footer></app-footer>